<div>
  <br>
  <h1 class="pull-left">
    Contact Tree
  </h1>
</div>
<br>

<ul class="fontSizeDef ">
  <li *ngFor=" let c of contacts">
    <span (click)="isCollapsed = !isCollapsed">{{c.name}}

    </span>
    <ul>
      <li *ngFor=" let c1 of c.contacts"  [ngbCollapse]="!isCollapsed">
        <span  (click)="isCollapsedSon = !isCollapsedSon" class="paddingDefSub">
        {{c1.name}}</span>
        <ul>
          <li *ngFor=" let c2 of c1.contacts" [ngbCollapse]="!isCollapsedSon">
            <span  class="paddingDefSubOfSon"> {{c2.name}} </span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>